$head-color:rgba(255, 255, 255, 0.7);
$red-racc:#f23522;
$white:#fff;
$black:#000000;
$twitter-box-connect:#f0f0f2;
$advice-text:#646e82;
$contact-section:#87888e;
$input-color:#83969f;
$btn-send-background:rgba(255, 255, 255, 0);
$section-icons:#c0bfbf;
$copyright-text:#cac9c9;
$gradient-color:rgba(0, 0, 0, 0.3);
